body {
  background-color: #EFC69B;
  width: 100%;
}

.quote {
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}

.App_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.App_content {
  margin: 0 10px;
}

.error {
  color: red;
}